[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=ktexteditor_neznaju
X-KDE-PluginInfo-Author=Kakadu & bak
X-KDE-PluginInfo-Email=konqui@kde.org
X-KDE-PluginInfo-Name=ktexteditorneznaju
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=kate
X-KDE-Version=4.0
ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=korganizer
Name=Neznaju
Comment=Collaborative text editing. Ctrl + I - start server, Ctrl + Y - connect to server.
